@charset "utf-8";
/* CSS Document */
@import "fonts.css";
*{margin:0; padding:0;}
a,img{border:none; outline:none; text-decoration:none;}
input,textarea,select{outline:none;}
ul,li{list-style:none;}
body{font-size:12px; color:#616161; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
/*layout start {Sahil--->sa}*/
#main{float:left; width:100%; background-image:url(../images/main_bg.jpg); background-position:top center; background-repeat:no-repeat; background-size:cover; }
#main2{float:left; width:100%; background-image:url(../images/form-background.jpg); background-position:top center; background-repeat:no-repeat; background-size:cover; }
#header{float:left; width:100%;}
#header_cont{margin:0 auto; width:77%;}
.header{ float:left; width:100%;}
.header2{ float:left; width:100%;height:122px}
.left_nav1{float:left; width:40%; margin-top:20px;}
.left_nav1 li{float:right; width:auto; margin:0 10% 0 0;}
.left_nav1 li a{float:left; font-weight:normal;font-family: robotomedium; width:auto; font-size:12px;padding:10px;}
.left_nav1 li a:active{color:#E88B2D;}
.left_nav1 li a:hover,.right_nav li a:hover{color:#E88B2D; text-decoration:none;}

.left_nav{float:left; width:40%; margin-top:20px;}
.left_nav li{float:right; width:auto; margin:0 10% 0 0;}
.left_nav li a{float:left; font-weight:normal;font-family: robotomedium; width:auto; font-size:12px;padding:10px;}
.left_nav li a:active{color:#E88B2D;}
.left_nav li a:hover,.right_nav li a:hover{color:#E88B2D; text-decoration:none;}

.logo{float:left;}
.right_nav .join_us{ background:#eb8a2b; padding:5px 8px; color:#fff; border-radius:3px; position:relative; top:-5px; }
.right_nav{float:right; width:40%; margin-top:30px;}
.right_nav li{float:left; width:auto; margin:0 0 0 8%}
.right_navli a{float:left; font-weight:normal;font-family: robotomedium; width:auto; color:#616161; font-size:12px;padding:10px;}

.logo{float:left;}
.right_nav .join_us{ background:#eb8a2b; padding:4px; color:#F5F5F5; border-radius:3px; position:relative; top:-0px; }
.right_nav .login_us{padding:4px 12px;}
.join_us:hover{ background:#F7BF68;}
#left_text{float:left; width:100%;}
.left_text_inner{ margin:0 auto; width:1085px;}
.left_text_cont{float:left; width:72%; position: relative;top: 65px;}
.home_left{float:left; width:60%; position:relative; top:-95px;}
.left_text_heading{font-family: robotomedium;float:left; width:100%;font-size:32px; color:#616161; font-weight:normal;}
.left_text_heading em{ font-style:normal; color:#eb8a2b;}
.left_text_inner p{float:left; margin-top:15px; width:458px; font-size:12px; color:#616161;font-family: robotomedium;}
.left_text_inner p a{width:auto; color:#eb8a2b; display:block;}
.left_text_inner p a:hover{text-decoration:underline;}
.left_text_cont_bot{float:left; width:36%;margin-top:75px;}
.left_text_cont_bot img{float:left;}
.left_text_cont_bot h4{float:left; margin-top:15px; width:458px; font-size:12px; color:#eb8a2b;}
.left_text_cont_bot p{float:left; margin-top:15px; width:348px; font-size:12px; color:#999;}
.left_text_cont_bot a{background:#eb8a2b; float:left; margin-top:10px; padding:5px 8px; color:#fff; border-radius:3px;  font-size:10px;}
.left_text_cont_bot a:hover{background:#F7BF68;}
.home_right{float: left;
    position: absolute;
    right: 0;
    top: 35%;
    width: 38%;
    z-index: 1;}
#footer{ float:left; width:100%; background:#88acb0; position:relative; z-index:2}
#footer_cont{ margin:0 auto; width:90%;}
.footer{float:left; width:100%;}
.footer ul{float:left; width:100%; padding-top:10px; padding-bottom:10px;}
.footer ul li{float:left; width:auto; color:#fff; margin-right:6px;}
.footer ul li a{float:left; font-size:10px; width:auto; color:#fff;}
.footer ul li a:hover{text-decoration:underline; color:#F5F5F5;}
/*index2 page start {SAhil}*/
#index{background-attachment: scroll;background-clip: border-box;background-color: #D8F2F3;
background-image: url("../images/01_Home_Slider_1.jpg");
    background-origin: padding-box; background-repeat: no-repeat; background-size: cover;}
#index2{background-attachment: scroll;background-clip: border-box;background-color: #D8F2F3;background-image: url("../images/01_Home_Slider_1.jpg");
    background-origin: padding-box; background-repeat: no-repeat; background-size: cover;}
#erternalPages{background-attachment: scroll;background-clip: border-box;background-color: #D8F2F3;background-image: url("../images/universal.jpg");
    background-origin: padding-box; background-repeat: no-repeat; background-size: cover;}
#index3{float:left; width:100%; background: url("../images/01_Home_Slider_3.jpg") no-repeat scroll center center / cover  #DFF3F2;}
#middle_outr{ float:left; width:100%;}
.middle_cont{ margin:0 auto; width:100%;}
.middle{ float:left; width:100%; min-height:417px !important;}
.middle2{ float:left; width:100%;}
.mt5{margin-top:-57px;margin-left:80px;}
.middle_left{float:left; width:33%;}
.school-middle_left{float:left; width:41%;}
.mid_lef_heading{color: #256767;float: left;font-family: robotothin;font-size: 32px;font-weight: 700; margin-bottom: 0;width: 100%;padding-left: 15% !important;padding-top: 3% !important;}
.mid_lef_heading em{ font-style:normal; color:#eb8a2b !important;font-family: robotomedium;}
.mid_left_bot{ float:left; width:100%; margin-top:120px; background:url(../images/personality.png) no-repeat;
 min-height:280px;background-size:contain;}
.middle_center{float: left; left: 35%; position: absolute; top:20%; width: 26%;}
.middle_center img{float: left;left: 22px;position: relative;top: 0px;}
.middle_center2{float:left; width:29.50%; position:relative;}
.middle_center-index2{  float: left;left: 35%;position: absolute;top: 26%;}
.middle_center-index2 img{ width:90%}
.middle_center-index3{float: left;left: 38%;position: absolute;top: 35%;width: 26%;}
.middle_center-index3 img{ width:100%}
.middle_center2 img{float:right; margin-top:-37px;}
.middle_right{float:right; width:33%;}
.mid_right_bot{ float:left; width:100%; margin-top:111px; background:url("../images/interest.png") no-repeat scroll 100% 0 / contain  rgba(0, 0, 0, 0); min-height:300px;}
.{float:right; width:197px;  margin-right: 44px;
    margin-top: 69px;}
.mid_left_buttn{float: left; margin-top: 18px;width: 195px;}
.whatnext{ float:right; margin-bottom:10px; width: 100%; text-align:justify; background:#EB8A2B; padding:5px 24px; color:#fff; font-size:16px; line-height:35px;}
.whatnext img{ float:right; margin-left:10px;}
.whatnext:hover{ background:#1AC2E7;color:#fff;}
.letstalk{background: none repeat scroll 0 0 #EB8A2B;color: #FFFFFF;float: right;font-size: 19px;
    line-height: 35px;margin-bottom: 10px;padding: 0 0 0 13px;text-align: center;width: 80%;}
.letstalk:hover{ background:#1AC2E7;color:#fff;}
.first-talk-img{font-size:29px; left: 25px;position: relative; opacity: 0.49;}
.letstalk i{font-size:29px;}

.footer_2{float:left; width:100%;}
.footer_2left{ float:left; width:50%;}
.footer_2left span{ float:left; width:100%;}

#footer_2 span a{float:left; font-size:12px; width:auto; color:#333;}
#footer_2 span a:hover{text-decoration:underline; color:#256767;}

/*.assestActive{ float:left; width:30px; height:25px;background:url("../images/sprite.png") no-repeat scroll -3px -2px / 76px 342px rgba(0, 0, 0, 0);}
.assest1{ float:left; width:30px; height:25px; background:url("../images/sprite.png") no-repeat scroll -2px -27px / 76px 342px rgba(0, 0, 0, 0);}
.assest2{font-size:23px;position:relative;top:-4px;float:left;width:26px;}
.assest2Active i{color:#EB8A2B;float:left;width:26px;font-size:23px;}
.assest3Active i{color:#EB8A2B;float:left;width:26px;font-size:19px;}
.assest3{font-size:19px;float:left;}
*/

.assestActive{background: url("../images/sprite1.png") no-repeat scroll 31px -60px rgba(0, 0, 0, 0); float: left; height: 60px; width: 172px;background-size:
30%;margin-top: -50px;}
.assest1{ background: url("../images/sprite1.png") no-repeat scroll 31px 6px rgba(0, 0, 0, 0); float: left; height: 60px; width: 172px;background-size:30%;margin-top: -50px;}

.assestActive2{background: url("../images/sprite2.png") no-repeat scroll 31px -62px rgba(0, 0, 0, 0); float: left; height: 70px; width: 172px;background-size:40%;margin-top: -50px;}
.assest2{ background: url("../images/sprite2.png") no-repeat scroll 31px 6px rgba(0, 0, 0, 0); float: left; height: 68px; width: 172px;background-size:40%;margin-top: -50px;}

.assestActive3{background: url("../images/sprite3.png") no-repeat scroll 31px -65px rgba(0, 0, 0, 0); float: left; height: 99px; width: 172px;background-size:38%}
.assest3{ background: url("../images/sprite3.png") no-repeat scroll 31px 6px rgba(0, 0, 0, 0); float: left; height: 70px; width: 172px;background-size:40%}

.footer_2 ul{float:left; width:100%; padding-top:10px; padding-bottom:2px;}
.footer_2 ul li{float:left; width:auto; color:#333; margin-right:6px;}
.footer_2 ul li a{float:left; font-size:12px; width:auto; color:#333;}
.footer_2 ul li a:hover{text-decoration:underline; color:#256767;}
.footer_2right{ float:right; width:auto;}
.footer_2right ul{padding-bottom:0px; width:100%;}
.footer_2right ul li{ margin:0px;}
.footer_2right .fb_icon{ float:left; width:28px; height:25px; background:url(../images/social_sprites.png) no-repeat 0 0;}
.footer_2right .fb_icon:hover{ background:url(../images/social_sprites.png) no-repeat 0 -25px;}
.footer_2right .tw_icon{ float:left; width:28px; height:25px; background:url(../images/social_sprites.png) no-repeat -28px 0px;}
.footer_2right .tw_icon:hover{background:url(../images/social_sprites.png) no-repeat -28px -25px;}
.footer_2right .li_icon{ float:left; width:28px; height:25px; background:url(../images/social_sprites.png) no-repeat -56px 0px;}
.footer_2right .li_icon:hover{background:url(../images/social_sprites.png) no-repeat -56px -25px;}
.footer_2right p{ font-size:10px; margin-left:6px; margin-bottom:0px;}
/*index3 start {SAhil} */
.mid_lef_heading_index3{ color: #666666;float: left; font-family: robotothin; font-size: 32px; font-weight: 700; margin-bottom: 0;width: 540px;}
.mid_lef_heading_index2{ color: #666666;float: left; font-family: robotothin; font-size: 32px; font-weight: 700; margin-bottom: 0;width: 540px;position:relative;top:-10px;}
.mid_lef_heading_index2 em{ color: #EB8A2B !important;font-family: robotomedium;font-size: 19px;font-style: normal; font-weight: normal;}
.mid_lef_heading_index3 em{ color: #EB8A2B !important;font-family: robotomedium;font-size: 19px;font-style: normal; font-weight: normal;}
.fashion_left{ float:left; width:100%; min-height:380px; position:relative;left:75px;}
.doctor_box{ position:absolute; top:4px; right:40px; width:200px;}
.doctor_box span{ float:left; width:70%;margin-top:44px;}
.doctor_box span h3{ text-transform: uppercase;letter-spacing: 1px;color:#1AC2E7; float:left; width:100%; font-size:14px;margin:0px;font-weight: bold;}
.doctor_box span p{ float:left; width:100%; font-size:10px; color:#999;}
.doctor_box img{float: right;left: -34px;position: relative;top: 38px;width:44px;}
.fashiondesigner_box{ position:absolute; top:173px; right: 217px; width:200px;}
.fashiondesigner_box span{ float:left; width:70%; margin-right:5px;margin-top:33px;}
.fashiondesigner_box span h3{ text-transform: uppercase;letter-spacing: 1px;font-weight: bold;text-align:right; color:#e31f5f; float:left; width:100%; font-size:14px;margin:0px;}
.fashiondesigner_box span h3 em{ text-transform: capitalize; letter-spacing: 1px;color:#e31f5f; font-style:normal; font-weight:normal; font-size:12px;}
.fashiondesigner_box span p{ text-align:right; float:left; width:100%; font-size:10px; color:#999;}
.fashiondesigner_box img{ float:right; margin-right:23px;width:31px;}
.army_box{ position:absolute; top:310px; right:20px; width:256px;}
.army_box span{ float:right; width:70%;margin-top:26px;}
.army_box span h3{ text-transform: uppercase;letter-spacing: 1px;color:#5E6636; float:left; width:100%; font-size:14px;margin:0px;font-weight: bold;}
.army_box span p{ float:left; width:100%; font-size:12px; color:#999;}
.army_box img{ float:left;width:76px;}


.fashion_right{ float:left; width:100%; position:relative; min-height:380px;}
.engineer_box{ position:absolute; top:-55px; left:-99px; width:210px;}
.engineer_box span{ float:left; width:70%; margin-top: 50px;}
.engineer_box span h3{color: #EB8A2B;font-size: 14px;margin: 0;text-align: right; width: 100%;font-weight: bold;text-transform: uppercase;letter-spacing: 1px;}
.engineer_box span p{ float:left; width:100%; font-size:10px; color:#999;text-align:left;padding-left: 39px;}
.engineer_box img{ float:right;margin-right: 19px;width:44px;}
.chef_box{position: absolute;left: 188px;top: 26px;width: 200px;}
.chef_box span{ float:left; width:70%; margin-right:5px;margin-top:37px;}
.chef_box span h3{text-transform: uppercase;letter-spacing: 1px;margin:0px;color:#999; float:left; width:100%; font-size:16px;}
.chef_box span p{ float:left; width:100%; font-size:10px; color:#999;}
.chef_box img{ float:left; margin-right:3px;width:44px;}
.pilot_box{left: 108px;position: absolute;top: 204px;width: 245px;}
.pilot_box span{    position: relative; right: 38px;float:left; width:45%; margin-right:5px;margin-top:14px;}
.pilot_box span h3{text-transform: uppercase;letter-spacing: 1px;color:#1AC2E7;text-align:right; width:100%; margin:0px;font-size:14px;font-weight: bold;}
.pilot_box span p{ float:left; width:100%; font-size:10px; color:#999;}
.pilot_box img{ float:left; margin-right:8px;width:80px;}
.teacher_box{float: left;left: -17px;position: absolute; top: 313px;	width: 311px;}
.teacher_box span{ float:left; width:38%;margin-top:37px;}
.teacher_box span h3{text-transform: uppercase;letter-spacing: 1px;margin:0px; color:#EDAB24; float:left; width:100%; font-size:14px;font-weight: bold;}
.teacher_box span p{ float:left; width:100%; font-size:10px; color:#999;}
.teacher_box img{ float:left;}

.arrow1{ position:absolute; top:148px;left:-40px;}
.arrow2{ position:absolute; top:227px;left:-117px;}
.arrow3{ position:absolute; top:327px;left:-44px;}
.arrow4{ position:absolute; top:53px;right:-3px;}
.arrow5{ position:absolute; top:133px;right:-155px;}
.arrow06{ position:absolute; top:294px;right:-65px; z-index:3;}
.arrow6{ position:absolute; top:248px;right:-65px; z-index:3;}
.arrow7{ position:absolute; top:316px;right:-12px;}
.mr-justify {/*margin:0 -36px 0 0 ;*/}
.mr-justify2 {margin:0 -36px 0 0 ;}
.round > img {border-radius: 50%; width:100%;float:left;}
.school-box{ position: absolute;top: 28px; width:240px;left:160px;}
.school-box span{ float: left; margin-left: 10px; width: 28%;}
.school-box span img{ float:left; width:54%;}
.school-box span h3{letter-spacing: 2px; color:#973239; float:left; width:100%; font-size:14px;margin:0px; font-weight: bold;}
.school-box span p{ float:left; width:100%; font-size:11px; color:#973239;}
.school_boxarea{ left: -95px; position: absolute; top: 140px;}
.school_boxarea3{position: absolute;top: 392px;width: 296px;}
.school_boxarea4{left: -161px;position: absolute;top: 61px;width: 296px;}
.school_boxarea5{position: absolute;top: 211px;width: 296px;left:16px;}
.school_boxarea6{position: absolute;top: 395px;;width: 296px;left:-145px;}
.school-box2{ left: 129px;position: absolute;right: 0;top: 24px;width:240px;}
.school-box2 span{ float:left; width:48%; margin-left:5px;}
.school-box2 span img{ float:left; width:54%;}
.school-box2 span h3{ letter-spacing: 2px;color:#1AC2E7; float:left; width:100%; font-size:14px;margin:0px;}
.school-box2 span p{ float:left; width:100%; font-size:11px; color:#999;font-family: robotomedium;text-transform:capitalize;}
.school-box3{ left: 73px;position: absolute;right: 0;top: -43px;width:320px;}
.school-box3 span{ float:left; width:48%;padding:17px;position:relative;left:14px;}
.school-box3 span img{ float:left; width:64%;}
.school-box3 span h3{letter-spacing: 2px;float: left;font-size: 14px;margin: 0;text-align: right; width: 100%; font-weight: bold;}
.school-box3 span p{text-align: right; float:left; width:100%; font-size:11px; }
.school-box3{ left: 71px;position: absolute;right: 0;top: -53px;width:240px;}
.stephen-box3{ left: 225px; position: absolute; right: 0; top: -80px;width: 240px;}
.stephen-box3 span{ float:left; width:48%;padding:11px}
.stephen-box3 span img{ float:left; width:54%;}
.stephen-box3 span h3{letter-spacing: 2px;color: #3B418D;float: left;font-size: 14px;margin: 0;text-align: left; width: 100%; font-weight: bold;}
.stephen-box3 span p{text-align: left; float:left; width:100%; font-size:11px; color:#3B418D;}
.fl {float:left; width:37%;}
.mt10{margin-top:10px;}.mt50{margin-top:50px;}
.poorimg-top{left: 5px;opacity: 0.4;position: relative;top: -1px;filter: alpha(opacity=40);}.poorimg{opacity: 0.4;position: relative;right: 6px;top: -42px;filter: alpha(opacity=40);}
#Register_date_of_birth{background:url("../images/icons.png") no-repeat scroll 76px -154px rgba(0, 0, 0, 0);}
.mt12{margin-top:12px;}
.right-tab-content h3{font-size:16px; color:#E88B2D;margin:10px 0 10px 0 ;}
.right-tab-content img{width:54%;margin-top:28px;}
.right-tab-content h3{color:#E88B2D;margin:0px;font-size:14px;}
.right-tab-content a{text-decoration:none;}
.right-tab-content a h3:hover{color:#F0AD4E;}
.about-left-aera {box-shadow: 9px -1px 9px -11px #333;padding: 0 93px 0 0;text-align: justify;}.padding-left {padding: 0 75px 0 81px;text-align: justify;}
.about-left-aera h1{font-size:22px; color:#666;font-weight: normal;font-family: robotomedium;}
.right-tab-content h3{font-size:16px; color:#E88B2D;margin:10px 0 10px 0 ;}
.right-tab-content p{font-size:12px; padding-top:55px;}
.mtop88{margin-top:39px;}
.fb{font-size: 15px;text-align:justify;color:#fff;padding:6px 47px 7px 0;font-size: 12px;font-family: robotomedium;}
.fb i{ margin-right: 8px;}
.home-tab-section h1{ color: #666666;font-family: robotomedium;font-size: 22px;font-weight: normal;}
.home-tab-section span{font-size:14px;color:#666;}
.home-tab-section p{font-size:12px;color:#666; text-align: justify;margin-top:38px;}
#access-Links h2{font-size:12px;}
.hot-link-below ul li a {margin-left: 8px;}
.hot-link-below ul li  {float: left;font-size: 11px;margin:0 28px 0 10px;}
.hot-link-below ul li a i {font-size: 22px;}
#accessScroll,#exploreScroll,#approachScroll {max-height: 350px;}
.scrollbox-wrapper {position: relative;overflow: hidden;}
.scrollbox-rail,
.scrollbox-bar {display: none;position: absolute;top: 0;right: 0;z-index: 10;width: 8px;-webkit-border-radius: 8px;-khtml-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;background-color: #333;}
.scrollbox-rail-in,.scrollbox-bar-in {display: block;}.scrollbox-rail {height: 100%;opacity: .2;filter: alpha(opacity=20);}.scrollbox-bar {min-height: 30px;opacity: .4;filter: alpha(opacity=40);}.scroll-text-pd{padding:0 19px 0 0 ;}
.scrollbox-wrapper p {margin: 10px 0 0;}

.hide-overflow {background: none repeat scroll 0 0 #FFFFFF;height: 98px;position: absolute;top: 0px;width: 100%;z-index: 999;}
.visibale-area{z-index:999;}
#login-form h4{font-size:15px;}
#user-register h4{font-size:15px;}
.site-logo {background:url("../images/icons.png") no-repeat scroll 35px 0 / 82px 432px #FFFFFF;border-radius: 75px;height: 150px;
    left: 38%;position: absolute;top: -70px;width: 150px; border-left: 3px solid #21C3C8;border-right: 3px solid #21C3C8;
    border-top: 3px solid #21C3C8;}
.or{background-color:#eee;background:#eee;-webkit-border-radius: 50%;
    -moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;border-radius: 50%;font-size: 15px;margin: 15px 0; width: 37px;
	height: 30px;line-height: 25px;	}

.login-box{z-index:999;}
.login{width:60%;margin:0px;}

.mt15{margin-top:15px;}
.yellow{color:#D6A64F;}
.darkyellow{color:#CF7500;}
.mt-top-20{margin-top:20px;}
.mt-42{margin-top:-49px;}
.white-text{color:#E88B2D;}
.inner-min-height{min-height:391px;}
.inner-min-height2{min-height:458px;}
.access-Links-line{border-top:1px solid #DCDCDC;   left: 40px;position: relative;top: -21px;width: 29px;}
.active-icon-access{background: url("../images/sprite.png") no-repeat scroll -4px -5px / 87px 417px rgba(0, 0, 0, 0);float: left; height: 25px;
    margin-top: 2px; width: 36px;}
.cup {font-family: entyporegular;  font-size: 42px;line-height: 25px;}
.cup2{font-family: entyporegular;   font-size: 50px;
    line-height: 27px;}
.assest3Active{color:#E88B2D;}
.mt24{margin-top:24px;}
.form-signin-heading {font-size: 15px;}
.back-bt {left: -34px;position: relative;top: 66px;}
.back-bt2 {left: -43px;position: relative;top: 58px;}

.green-bg{background-color:#21C3C8;}
.site-container{margin: 0 auto;width: 90%;min-height:625px;}
.center-logo{width:20%;float:left;}
.logo img{width:100%;}
.join_us i{padding:0px;margin:0px;}
.perso {margin-left:43%;width: 268px;margin-top:26px;}
.perso h1{margin:20px 0 0 0 ;color: #ED8A2C;  text-align: right;font-family: robotothin !important;font-size: 33px;font-weight: bold;}
.perso p{color: #000;float: right;font-family: robotomedium !important;font-size: 13px;}
.interst-slide {float: right;margin-right:43%;width:267px;margin-top:26px;}
.interst-slide h1{margin:14px 0 0 0 ;  text-align: left;color: #52D0E9;font-family: robotothin !important;font-size: 33px;font-weight: bold;}
.interst-slide p{color: #000;font-family: robotomedium !important;font-size: 13px;margin:0px;}
.fr{float:right;}
#footer_2{width:100%;float:left;position:relative;bottom:0px;}
.whatnext img{float:right;}
.lets-btn{float: right;position: relative;right: -3px;top: -23px;width: 195px;}
.top{top:5px;}
.left-position{left:97px;top:-66px;}
.s-img-left{left:75px;}
.mt60{margin-top:57px}
.li-white-text li a{color:#F5F5F5 !Important;}
.mb58{margin-bottom:82px;}
.white-color{color:#F5F5F5;margin-top:10px;}
.pdbottom{padding-bottom:10px !important;}
.mb20px{margin-bottom:40px;}
.about-fix{min-height:600px;}
.w-next-btn{ left: 67px; position: relative; top: -58px;}
.teacher-img{width:53px;}
.mid_right_buttn{bottom: 20%;right: 10%; position: absolute;}
.mid_right_buttn-index2{}
.student-img{    left: 157px;
    position: absolute;
    top: -90px;}
.mb50{margin-bottom:26px;}
.index-2back{bottom: 20%;left: 10%; position: absolute;}
.back_arrow
{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
    float: left;
    margin-right: 10px;
}
#content{ min-height: 580px; }
}


/*medium screen responsive {SAhil}*/
@media only screen and (max-width : 1365px) and (min-width :1024px)
{
	.middle_center 
	{
		left: 42px;
	}
	.middle_center-index2
	{  
		left: 30%;
	}
	.middle_center-index3 
	{
		left: 29%;
		top: 97px;
	}
}

/*large screen responsive {SAhil}*/
@media only screen and (max-width : 2230px) and (min-width :1536px)
{
	.middle_center 
	{
		left: 106px;
	}
	.middle_center-index2
	{  
		left: 37%;
		top: 220px;
	}
	.middle_center-index3 
	{
		left: 36%;
	}
}
.gudak-features li {padding: 6px 0 0;}
.gudak-features ul li i{float:left;margin:4px 5px 0 0;color:#E88B2D;font-size:8px;}
.gudak-features p {padding:0 0 0 9px; color: #666666;
    font-family: robotomedium !important;
    font-size: 12px;
    font-weight: normal !important;
    padding: 0 0 0 9px;} 
.gudak-features ul li ul {padding:0 0 0 47px;}
.gudak-features ul li ul li {list-style:lower-alpha outside none;padding:0px;}
.gudak-features ul li ul li p{padding:0 0 0 0;margin:0px;}
.gudak-features {margin: -10px 0 0 47px;width:33%;}
.gudak-features-left li {padding: 6px 0 0;}
.gudak-features-left ul li i{float:left;margin:4px 5px 0 0;color:#E88B2D;font-size:8px;}
.gudak-features-left p {padding:0 0 0 11px !important; color: #1EA4A5;
    font-family: robotomedium !important;text-align: justify;
    font-size: 12px;
    font-weight: normal !important;
    padding: 0 0 0 9px;} 
.gudak-features-left ul li ul {padding:0 0 0 47px;}
.gudak-features-left ul li ul li {list-style:lower-alpha outside none;padding:0px;}
.gudak-features-left ul li ul li p{padding:0 0 0 0;margin:0px;}
.gudak-features-left {margin: 100px 10px   0;width: 33%;}
.gudak-features h1 > strong{font-size:27px;font-family: robotomedium !important;}
.gudak-features h1 {font-size:27px;font-family: robotothin !important;   font-weight: bold;}
.fs22{font-size:22px;}
.orange{color: #E88B2D;}
.underLine {text-decoration: underline !important;}
.ratingStar{width:85px;}
.ratingStar img:hover{border:none;}
 .alert{clear: both;color: #468847;height: 52px;position: relative;z-index: 9999;}
.alert-success{background-color: #DFF0D8;border-color: #D6E9C6;}
.alert-error{background-color: #f99;border-color: #f99;color:#f00;}
	
.mb11{margin-bottom:11px !important;}
strong {
    font-family: open sans !important;
}
.user-edu {
    font-size: 9px;
    font-weight: normal !important;
}
#confirm-gudaak-id{display:none;}
.confirm-gudaak{text-align: center;padding-bottom: 90px;
    padding-top: 90px;}
.confirm-gudaak h2{font-size:14px;}
#forget-form2{display:none;}
#icon-move{display:none;}
.talktoAdmin{background: url("../images/testi-bg.png") no-repeat scroll 0 0 / 195px 99px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    height: 81px;
    padding: 12px;
    text-align: center;
    width: 201px;}
.pd0{padding:0px !important;}
.dimension-box{position: absolute;right: 10px;top: 1px;}
.input-mar {
    height: 59px;
}
.min-height-login{min-height:313px !important;}
.back-register-bt{ left: -48px;
    position: relative;}

#popup_box {display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:100%;  
    width:100%;
  background:#000;
opacity: 0.85;  
   
	 text-align: center;
    left: 0;
    top: 0;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
   
    /* additional features, can be omitted */
       
    padding:166px;  
    font-size:15px;  
  
   
}
#popup_box h1{ 
    font-size: 15px;
	 text-align: center;
    line-height: 48px;
    padding-top: 47px;
    
	}
#popup_box img{left: 21%;
    position: absolute;
    top: 65%;
    width: 18%;}
.newsupdates ul{list-style:none;padding:0px;}
.newsupdates ul li{width: 47%;;float:left; margin: 0 35px 18px 0;margin-bottom:10px;border:1px solid #eee;overflow:hidden;}
.newsupdates ul li:hover{border:1px solid #F7A944;}
.newsupdates ul li h1{font-size:12px;margin:0px;background-color:#F7F7F7; padding: 7px;}
.newsupdates ul li span{font-size:12px; background-color: #F7A944;color: #FFFFFF;left: 467px;padding:6px 11px 4px 13px;position: relative;top: -24px;}
.newsupdates ul li p{font-size:11px;color:#999;margin-top:-14px;padding:0 0 0 7px;font-weight:normal;}
.newsupdates ul li a{color:#F7A944;padding:0 0 0 7px;font-size:11px;font-weight:normal;}
.events ul{list-style:none;padding:0px;}
.events ul li{margin-bottom:10px;border-bottom:1px solid #eee;padding-bottom:10px;}
.events ul li h1{font-size:15px;margin-top:0px;color:#21C4B1;}
.events ul li img{width:100%;height:95px;}
.events ul li p{margin:0;font-size:11px;color:#999;padding:0 0 0 7px;font-weight:normal;}
.events ul li a{color:#21C4B1;padding:0 0 0 7px;font-size:11px;font-weight:normal;}
.artical h1{color: #F7A944;font-size: 15px;font-family: robotomedium}
.artical h3{margin:0;color: #21C4C1;font-size: 15px;text-transform: capitalize;font-family: robotomedium}
.artical span{margin:0;color: #666;font-size: 12px;font-family: robotomedium}
.home_left_top{margin-top:5%;}
.pd20{ padding:20px !important;}
	
.Pic1{background: url("../images/pic2.png") no-repeat scroll 0 0 / 195px 99px rgba(0, 0, 0, 0); height:150px; float:left}
.Pic2{background: url("../images/pic3.png") no-repeat scroll 0 0 / 195px 99px rgba(0, 0, 0, 0); height:150px; float:left}
.Pic3{background: url("../images/pic6.png") no-repeat scroll 0 0 / 195px 99px rgba(0, 0, 0, 0); height:150px; float:left}
.Pic4{background: url("../images/pic5.png") no-repeat scroll 0 0 / 195px 99px rgba(0, 0, 0, 0); height:150px; float:left}
.Pic5{background: url("../images/pic4.png") no-repeat scroll 0 0 / 195px 99px rgba(0, 0, 0, 0); height:150px; float:left}
.Pic6{background: url("../images/pic1.png") no-repeat scroll 0 0 / 195px 99px rgba(0, 0, 0, 0); height:150px; float:left}

/* Add for Hover Effect*/
#hover-cap-4col .thumbnail,
	#hover-cap-3col .thumbnail,
	#hover-cap-unique .thumbnail,
	#hover-cap-6col .thumbnail {
		position:relative;
		overflow:hidden;	
	}
	.caption {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
		width: 100%;
		height: 100%;
		color:#fff !important;
	}
	.caption p {
		padding:25% 6px; text-align:center; color:#fff; font-size:12px; font-weight:normal;  
	}
	.caption h4 {
		 color:#F90;
	}
.thumbnail {background: none !important; border: none !important;}
a.thumbnail:hover,
a.thumbnail:focus {
border-color: none !important;
}
	